<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
    We offer simple uptime monitoring for all HTTP/HTTPS sites and send MSG when the status of site changes
    We offer simple uptime monitoring for all HTTP/HTTPS sites and send MSG when the status of site changes
    We offer simple uptime monitoring for all HTTP/HTTPS sites and send MSG when the
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>